include includes/header.pug

if logged == true
  include includes/logout.pug

#bestScores
  | TOP 10 scores:
  ol 
    each joueur in bestScores 
      li= joueur.pseudo + ' : '+ joueur.bestScore + 'pts'

#infoPanel.hidden
  #cible
    p Cible:
    #targetColor
  #counter 
    #timer 20s
  #joueur1
    img#topAvatar(src='' alt='')
    #topPlayer -
    #topScore 0 Pts
  #joueur2
    img#bottomAvatar(src='' alt='')
    #bottomPlayer -
    #bottomScore 0 Pts

#gameZone.visible
  #rules.visible 
    | Vous et votre adversaire vous affronterez sur un plateau de jeu commun : sur celui ci seront disposées des tuiles de couleurs et de tailles différentes, le but du jeu est de récupérer un maximum de tuiles correspondantes à la couleur demandée.
    br
    br
    | Ramasser une tuile de la bonne couleur vous rapportera 5 points, une de la mauvaise couleur vous fera perdre 2 points !
    br
    br
    | Vous disposez de 20 secondes pour battre votre adversaire.
    br
    br 
    | Bon jeu !
  #newGameWindow
    | Nouvelle partie:
    br
    br
    button#joinButton.visible Rejoindre le jeu
    p#wiatingPlayerText.hidden en attente d'un joueur...
  #endWindow
    img#avatarWin(src='' alt='')
    #scores
      p#winner
      p#looser
      form(action='/auth/game' method='GET' id="form")
        input(type='submit' value='Bye Bye!' )

script(src='/client/game.js' type="module")
script(src='/socket.io/socket.io.js')
  
  
